<?xml version="1.0" encoding="UTF-8"?> <config><menuWidth>500</menuWidth> <menuHeight>500</menuHeight>
<menuTitle>tytuł</menuTitle><gameTitle>tytuł gry</gameTitle><jbNewGameText>nowa gra</jbNewGameText><jbHighScoreText>najlepsze wyniki</jbHighScoreText>
<jbHelpText>pomoc</jbHelpText><jbExitText>wyjście</jbExitText></config>